@{
Layout=null;
}
@using DBFinanceLinq;
@model IQueryable<PurchasedProducts>
<table class="table table-striped" id="reportData">
    <thead>
        <tr>
            <th>产品号</th>
            <th>产品</th>
            <th>成立日</th>
            <th>到期日</th>
            <th>天数</th>
            <th>购买金额</th>
            <th>收益</th>
        </tr>

    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PurchasedProId</td>
                <td>@item.ProductName</td>
                <td> @if(item.PurchasedDate.HasValue){ @item.PurchasedDate.Value.ToShortDateString()}</td>
                <td>@if(item.PurchasedDueDate.HasValue){@item.PurchasedDueDate.Value.ToShortDateString()}</td>
                <td>@item.PurchasedDays</td>
                <td>@if(item.PurchasedAmount.HasValue){@item.PurchasedAmount.Value.ToString("C2")}</td>
                <td>@if (item.ReturnAmount.HasValue) { @item.ReturnAmount.Value.ToString("C2")}</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6"></td>
            <td>@ViewBag.TotalReturnAmount</td>
        </tr>
    </tfoot>
</table>